/__pycache__
/notebooks/data
/notebooks/outputs
/notebooks/runs
/notebooks/validation_outputs
/notebooks/validation_reports
/notebooks/.jupyter_config
/notebooks/.jupyter_runtime
/notebooks/.ipython
/notebooks/.local_share_jupyter
*.csv
*.png
*.pt
*.jpg